@import url('http://fonts.cdnfonts.com/css/cocogoose');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: "lato", serif;
}

.header {
  position: absolute;
  margin-top: 24px;
  margin-left: 24px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.bar1 {
  display: none;
}

.bar2 {
  display: none;
}


/* #########
#########
DISPLAY MENU  */

.header-menu {
  margin: 0%;
}

.my-menu {
  display: flex;
  position: fixed;
  background-color: #272a31;
  width: 100vw;
  height: 100vh;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.my-menu-list {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.logo {
  display: none;
}

.bar2-item {
  margin-top: 20px;
}

.bar2-item a {
  color: beige;
  font-family: "cocogoose" serif;
  font-size: 22px;
}

.clear {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 24px;
  color: beige;
}

/* #########
#########
DISPLAY MENU  */

.hello {
  background-image: url(./images/mainbg.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.first-section {
  margin: 24px;
}

.welcome {
  color: #ec5242;
  font-family: "lato" serif;
  font-weight: 500;
  font-size: 1.5rem;
}

.welcometitle {
  background-image: url(./images/textbg.jpg);
  background-size: cover;
  background-position-y: center;
  font-size: 3rem;
  color: #ec534270;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: bold;
}

@media screen and (min-width: 760px) {
  .header {
    position: static;
    margin: 0;
  }

  .clear-btn {
    display: none;
  }

  .phone-menu {
    display: none;
  }

  .bar1 {
    background-color: #272a31;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
  }

  .bar1-list {
    display: flex;
    width: 75%;
    justify-content: flex-end;
  }

  .logo {
    display: contents;
  }

  .topbar {
    margin: 0 8px 0 8px;
    color: #d3d3d3;
  }

  .topbar:hover {
    color: #ec5242;
  }

  .fa-twitter {
    margin-right: 12px;
  }

  .log-out {
    margin-right: 0;
  }

  .logo-img {
    width: 150px;
  }

  .bar2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bar2-container {
    display: flex;
    width: 75%;
    justify-content: space-between;
  }

  .nav-links {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
  }

  .bar2-item {
    margin: 0 0 0 30px;
  }

  .bar2-item a {
    font-family: "lato", serif;
    color: #272a31;
    font-weight: 500;
    font-size: 20px;
  }

  .concertbut {
    border: #ec5242 2px solid;
    padding: 5px 15px;
  }

  .concertbut a {
    color: #ec5242;
    font-weight: 700;
  }
}
